server:
  port: 9003

spring:
  application:
    name: order-events

  datasource:
    url: jdbc:postgresql://localhost:5436/orderdb
    username: orderuser
    password: orderpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        hbm2ddl:
          auto: none
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  cloud:
    config:
      enabled: false

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false


  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
        enable.idempotence: false

    consumer:
      group-id: order-events-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.catalogx.orderservice.dto.InventoryUpdateEvent

    listener:
      ack-mode: record
      missing-topics-fatal: false


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: false
    hostname: order-events
    instance-id: ${spring.application.name}:${server.port}

