server:
  port: 9001

spring:
  application:
    name: product-service

  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5433/productdb
    username: productuser
    password: productpass

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        hbm2ddl.auto: none
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
        enable.idempotence: false

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

jwt:
  secret: "catalogx-super-secret-key-should-be-long"
  expiration: 86400000


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.catalogx.productservice: DEBUG


springdoc:
  api-docs:
    path: /v3/api-docs/product