server:
  port: 9002

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:postgresql://inventory-db:5432/inventorydb
    username: inventoryuser
    password: inventorypass

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: kafka:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

    consumer:
      group-id: inventory-events-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
  instance:
    hostname: inventory-service
    instance-id: inventory-service:${server.port}

jwt:
  secret: catalogx-super-secret-key-should-be-long
  expiration: 86400000


springdoc:
  api-docs:
    path: /v3/api-docs/inventory